# Local development
VITE_API_BASE_URL=http://localhost:5000
VITE_FRONTEND_URL=http://localhost:3000

# Production / Lambda values:
# VITE_API_BASE_URL=https://l7xnpjosjvyrlx55dxrwdvx5g40okeyd.lambda-url.us-east-1.on.aws
# VITE_FRONTEND_URL=http://airbrake.s3-website-us-east-1.amazonaws.com
